{% extends 'index.html' %}

{% block content %}

{%load static%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accommodations</title>
  </head>
  <body>
    <div class="mydiv" id="mydiv" name='mydiv'>
      <!-- <button data-api={{nextPage}} class=" form-control update-api"> Next</button> -->
      <form method="POST">
        {% csrf_token %}
        <select class="form-control" id="city" name="city">

          {% for ciudad in ciudades %}

          <option value="{{ciudad}}"> {{ciudad}}</option>


          {% endfor %}

        </select>
        <button type="submit"> Enviar</button>
      </form>
      <br>
      <br>
      <h2>Api Apartamentos</h2>
      <br>
      <ul>
        {% for apartamento in page_obj %}
        <h5>Empieza apartamento</h5>
        <li> Id: {{apartamento.id}} </li>
        <li> Title: {{apartamento.title}} </li>
        <li> Link: <a href="{{apartamento.originalLink}}"> Webs</a> </li>
        <li> Location: {{apartamento.location.city}} - {{apartamento.location.country}} </li>
        
        <h5>Acaba apartamento</h5>
        <br>

        {% endfor %}
      </ul>
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </body>

  <!-- <script type="text/javascript">

    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');
  </script> -->
</html>

{% endblock %}