{% extends 'index.html' %}

{% block content %}

{%load static%}



<main>
<!-- BLOQUE BUSQUEDA CIUDAD BOOTSTRAP -->



  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content">
    <div class="col-md-5 mx-auto my-5">
      <h1 class="display-4 fw-normal mb-4">Erasmus Planet</h1>
      <p class="lead fw-normal unaLinea mb-4">You can’t imagine, what is waiting for you around your city.</p>
        <form class="row g-3">
            <div class="col-xl-9 col-sm-12">
                <input type="text" name="search" id="search" class="form-control" placeholder="What city or university are you looking for?">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Look for</button>
            </div>
        </form>
    </div>
  </div>
  <!---->

  {% if not query %}
    
    <div class="container pb-5">
    <h1 class="text-center mb-5">Cities</h1>

      <!-- BLOQUE DE CARROUSEL DE TARJETAS DE GUIA ALEATORIAS -->
    
       
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                {% for guia in guiasTarjetas %}
        
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/about/about.png'%}" class="d-block" alt="...">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{guia.city}}</h5>
                        <p>{{guia.title}}</p>
                        <button class="btn btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
        
    </div>

    {% endfor %}
    
    <!--
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    -->
</div>
      
{% else %}

<!-- SI NO ENCUENTRA LA CIUDAD QUE INTRODUCIMOS EN EL FORMULARIO -->

{% if not guides %}
<div class="container pb-5">
<p class="lead textoCentrado">We don't have your guide yet</p>
<p class="lead textoCentrado">Write your guide and <a href="{% url 'Propuestaguia' %}">upload to Erasmus Planet</a></p>
</div>


{% else %}

<!-- CUANDO ENCUENTRA LA CIUDAD INTRODUCIDA EN EL FORMULARIO Y SALE LA TARJETA DE ESA GUIA -->
{% for guide in guides %}


<div class="container pb-5">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for guide in guides %}
        <div class="col">
          <div class="card shadow-sm">

          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
            <div class="card-body">
            <p class="lead">{{guide.city}}</p>
              <p class="card-text">{{guia.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">                  
                  
                  <a href="{% url 'Guia' guide.pk %}" type="button" class="btn btn-sm btn-outline-info">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endfor %}
{% endif %}
{% endif %}

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--Autocomplete-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {

        $("#search").autocomplete({
            source: "{% url 'autosuggest' %}",
            minLength: 3
        });
    });

</script>
<!--Page Wrapper ends-->
{% endblock %}