
{% extends 'index.html' %}

{% block content %}

{%load static%}

<!-- PLANTILLA GUIA DE BOOTSTRAP -->
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
      <h6 class="display-6 fw-normal">{{guide.city}}</h6>   
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

    <div class="container">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#informacionGeneral" type="button" role="tab" aria-controls="home" aria-selected="true">Información general</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#comoLlegar" type="button" role="tab" aria-controls="profile" aria-selected="false">Como llegar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#alojamiento" type="button" role="tab" aria-controls="contact" aria-selected="false">Alojamiento</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#ocio" type="button" role="tab" aria-controls="contact" aria-selected="false">Ocio</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#divisas" type="button" role="tab" aria-controls="contact" aria-selected="false">Divisas</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#banco" type="button" role="tab" aria-controls="contact" aria-selected="false">Banco y SIM</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#dondeComprar" type="button" role="tab" aria-controls="contact" aria-selected="false">Donde comprar</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mb-5" id="informacionGeneral" role="tabpanel" aria-labelledby="home-tab">
                <h4 class="mt-5 mb-5">Información general</h4>
                <p>{{guide.informacion_general | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="comoLlegar" role="tabpanel" aria-labelledby="profile-tab">
                <h4 class="mt-5 mb-5">Cómo llegar</h4>
                <p>{{guide.como_llegar | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="alojamiento" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="mt-5 mb-5">Alojamiento</h4>
                <p>{{guide.alojamiento | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="ocio" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="mt-5 mb-5">Ocio</h4>
                <p>{{guide.ocio | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="divisas" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="mt-5 mb-5">Divisas</h4>
                <p>{{guide.divisas | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="banco" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="mt-5 mb-5">Banco y SIM</h4>
                <p>{{guide.banco_sim | safe}}</p>
            </div>
            <div class="tab-pane fade mb-5" id="dondeComprar" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="mt-5 mb-5">Donde comprar</h4>
                <p>{{guide.donde_comprar | safe}}</p>
            </div>
        </div>


    </div>


  </main>

<!-- -->


    
     
{% endblock %}