{% extends 'index.html' %}

{% block content %}

{%load static%}

   
<!-- LOGIN BOOTSTRAP -->

<main class="form-signin">

<img src="{%static 'images/titles/login.png' %}" style="width: 400px;" class="mt-4 mb-5">


  <form id="login-form" action="#" method="post">
    
    {% csrf_token %}

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="name@example.com" name="username" value="" tabindex="1" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mt-5">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" tabindex="2">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3 mt-4">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <div class="row">
    <a class="noSubrayado" style= "padding-bottom: 3%;" href="{% url 'reset_password' %}">Has olvidado la contraseña?</a>
    
    <button class="btn btn-lg btn-primary mb-5" type="submit">Sign in</button>
</div>
  </form>
</main>


        <!--User login section ends-->
        <!--Login section ends-->
        <!-- Scroll to top starts-->
        <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        <!-- Scroll to top ends-->
    
    <!--Footer Starts-->
{% endblock %}