{% extends 'index.html' %}

{% block content %}

{%load static%}


<!-- REGISTRO BOOTSTRAP -->

{% if error %}
    <div class="alert alert-danger mar-top-25">
        <div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">No tienes la edad!</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>
    </div>
{% endif %}

<main class="mt-5">
    <div class="container">

        <form id="login-form" action="#" method="post" class="row needs-validation" novalidate>
        {% csrf_token %}

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item anchoStepsRegistro" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#personalInformation" type="button" role="tab" aria-controls="home" aria-selected="true">Personal information</button>
                </li>
                <li class="nav-item anchoStepsRegistro" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#accountInformation" type="button" role="tab" aria-controls="profile" aria-selected="false">Account information</button>
                </li>
                <li class="nav-item anchoStepsRegistro" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#userInformation" type="button" role="tab" aria-controls="contact" aria-selected="false">User information</button>
                </li>
                
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="personalInformation" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row mt-5">
                        <div class="col-md-6 col-12">
                            <label for="validationCustom01" class="form-label">First name</label>
                            {{ form.first_name }}
                            <div class="valid-feedback">
                            Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Last name</label>
                            {{ form.last_name }}
                            <div class="valid-feedback">
                            Looks good!
                            </div>
                        </div>
                    </div> 

                    <div class="row mt-5">

                        <div class="col-md-4 col-12">
                            <label for="validationCustom04" class="form-label">Gender</label>
                            {{ form.gender }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-4 col-12">
                            <label for="validationCustom04" class="form-label">Date of birth</label>
                            {{ form.date }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-4 col-12">
                            <label for="validationCustom04" class="form-label">Contry</label>
                            {{ form.country }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>   

                    <div class="row mt-5">
                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Last name</label>
                            {{ form.date_inicio }}
                            <div class="valid-feedback">
                            Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Last name</label>
                            {{ form.date_inicio }}
                            <div class="valid-feedback">
                            {{ form.date_fin }}
                            </div>
                        </div>
                    </div>    

                    
                            
                </div>

                <div class="tab-pane fade" id="accountInformation" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="row mt-5">
                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Username</label>
                            {{ form.username }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                        

                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">E-mail</label>
                            {{ form.email }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                        
                    </div>

                    <div class="row mt-5">

                        <div class="col-md-3 col-12">
                            <label for="validationCustom02" class="form-label">Prefix</label>
                            {{form.prefix}}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-9 col-12">
                            <label for="validationCustom02" class="form-label">Phone</label>
                            {{ form.phone }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    
                    </div>

                    <div class="row mt-5 mb-5">

                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Password</label>
                            {{ form.password1 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <label for="validationCustom02" class="form-label">Repeat password</label>
                            {{ form.password2 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>

                
                
                </div>

                <div class="tab-pane fade" id="userInformation" role="tabpanel" aria-labelledby="contact-tab">

                    <div class="row mt-3">
                        <div class="col-xl-6 col-12">

                            <h5>Type of user</h5>
                        </div>

                        <div class="col-xl-6 col-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" type="button" id="1"
                                                        data-toggle="collapse" data-target="#academic"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">Bachelor degree</button>
                                    
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" type="button" id="2"
                                                        data-toggle="collapse" data-target="#aupair"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">Au pair</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" type="button" id="3"
                                                        data-toggle="collapse" data-target="#master"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">Master student</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" type="button" id="4"
                                                        data-toggle="collapse" data-target="#practices"
                                                        aria-expanded="true" aria-controls="collapseExample"
                                                        onclick="recogeID(this.id)">Internship</button>
                                </li>
                            </ul>

                            
                        </div>
                    </div>

                    <div clsas="row mt-3">
                        <div class="col-xl-6 col-12">
                            <label for="validationCustom02" class="form-label">Hometown</label>
                            {{ form.cityOrigin1 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-xl-6 col-12" id="cityDestination1Div">
                            <label for="validationCustom02" class="form-label">Destination city</label>
                            {{ form.cityDestination1 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">

                        <label>
                            <input type="checkbox" onchange="showHide(this.checked)">Click here if you still don´t know your destination
                        </label>

                    </div>

                    <div class="row mt-3">
                        <div class="col-xl-6 col-12" id="cityDestination2Div" style="display:none;">
                            <label for="validationCustom02" class="form-label">Second option of destination city</label>
                            {{ form.cityDestination2 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-xl-6 col-12" id="cityDestination3Div" style="display:none;">

                            <label for="validationCustom02" class="form-label">Third option of destination city</label>
                            {{ form.cityDestination3 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">   
                        <div class="col-xl-6 col-12" id="universityOriginDiv">
                            <label for="validationCustom02" class="form-label">Hometown university</label>
                            {{ form.universityOrigin }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-xl-6 col-12" id="universityDestinationDiv">
                            <label for="validationCustom02" class="form-label">Destination university</label>
                            {{ form.universityDestination }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-xl-6 col-12" id="courseDiv">
                            <label for="validationCustom02" class="form-label">Year of the degree</label>
                            {{ form.course }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>

                        <div class="col-xl-6 col-12" id="studiesDiv">
                            <label for="validationCustom02" class="form-label">Degree</label>
                            {{ form.studies }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 mb-5">
                        <div class="col-12" id="companyDiv">
                        <label for="validationCustom02" class="form-label">Company</label>
                            {{ form.company }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                        </div>
                    </div>



                </div>
                

                <div class="row">
                    <div class="col-xl-6 col-12 mt-5 mb-5">
                        <button type="button" id="prevBtn" class="btn btn-btn-outline-secondary" onclick="nextPrev(-1)">Return</button>
                    </div>

                    <div class="col-xl-6 col-12 mt-5 mb-5 ">
                        <button type="button" id="nextBtn" class="btn btn-outline-primary botonNext" onclick="nextPrev(1), Prefix()">Next</button>
                    </div>
                </div>
            </div>
        </form>



    </div>
</main>


<!-- MODAL DE ENVIO VERIFICACIÓN EMAIL -->

<div class="modal fade" id="emailVerification" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">E-mail verification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                            class="ion-ios-close-empty"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="modal-coupon-code">
                    <div class="store-content">
                        <div class="text">
                            Te hemos enviado un e-mail para la verificación de tu perfil.
                        </div>
                    </div>

                </div>
            </div>
            <div class="coupon-bottom">

                <button type="button" class="btn v3 float-right botonGeneral" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- -->

<!--User login section ends-->
<!--Login section ends-->
<!-- Scroll to top starts-->
<span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
<!-- Scroll to top ends-->

<!--Page Wrapper ends-->


<!--Main js-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/register.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/hiding_atributes.js' %}"></script>
<script src="{% static 'js/prefix.js' %}"></script>
<!--Scripts ends-->

{% endblock %}