{% extends 'index.html' %}

{% block content %}

{%load static%}


<!-- REGISTRO BOOTSTRAP -->

{% if error %}
    <div class="alert alert-danger mar-top-25">
        <div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">No tienes la edad!</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>
    </div>
{% endif %}

<main class="mt-5">
    <div class="container">

    <form id="msform" action="#" method="post" > 
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active" id="account"><strong>Personal</strong></li>
            <li id="personal"><strong>Account</strong></li>
            <li id="payment"><strong>User</strong></li>
            <li id="confirm"><strong>Finish</strong></li>
        </ul> <!-- fieldsets -->

        <!-- PERSONAL INFORMATION -->
        <fieldset>
            <div class="form-card">
                <h2 class="fs-title">Personal Information</h2>

                <div class="row">
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">First name</label>
                            {{ form.first_name }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>

                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">Last name</label>
                            {{ form.last_name }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-12">
                        <label for="validationCustom01" class="form-label">Gender</label>
                            {{ form.gender }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>

                    <div class="col-xl-4 col-12">
                        <label for="validationCustom01" class="form-label">Date of birth</label>
                            {{ form.date }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>

                    <div class="col-xl-4 col-12">
                        <label for="validationCustom01" class="form-label">Country</label>
                            {{ form.country }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">Since</label>
                            {{ form.date_inicio }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>

                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">To</label>
                            {{ form.date_fin }}
                            <div class="valid-feedback">
                            Looks good!
                        </div> 
                    </div>
                </div>
            </div> 
            <input type="button" name="next" class="next action-button flotarDerecha" value="Next Step" />
        </fieldset>

        <!-- ACCOUNT INFORMATION -->
        <fieldset>
            <div class="form-card">
                <h2 class="fs-title">Account Information</h2> 

                <div class="row">
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">Username</label>
                                {{ form.username }}
                            <div class="valid-feedback">
                                Looks good!
                            </div> 
                    </div>
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom01" class="form-label">E-mail</label>
                                {{ form.email }}
                            <div class="valid-feedback">
                                Looks good!
                            </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom02" class="form-label">Prefix</label>
                            {{form.prefix}}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom02" class="form-label">Phone</label>
                            {{ form.phone }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom02" class="form-label">Password</label>
                            {{ form.password1 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <label for="validationCustom02" class="form-label">Repeat password</label>
                            {{ form.password2 }}
                            <div class="invalid-feedback">
                            Please select a valid state.
                            </div>
                    </div>
                </div>

            </div> 
            <input type="button" name="previous" class="previous action-button-previous flotarIzquierda" value="Previous" /> 
            <input type="button" name="next" class="next action-button flotarDerecha" value="Next Step" />
        </fieldset>

        <!-- USER INFORMATION -->
        <fieldset>
            <div class="form-card">
                <h2 class="fs-title">User Information</h2>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="bachelor-tab" data-bs-toggle="pill" data-bs-target="#bachelor" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Bachelor's degree</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="aupair-tab" data-bs-toggle="pill" data-bs-target="#aupair" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Au pair</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="master-tab" data-bs-toggle="pill" data-bs-target="#master" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Master student</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="practices-tab" data-bs-toggle="pill" data-bs-target="#practices" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Internship</button>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="bachelor" role="tabpanel" aria-labelledby="bachelor-tab">
                        Bachelor
                    </div>
                    <div class="tab-pane fade" id="aupair" role="tabpanel" aria-labelledby="aupair-tab">
                        Au pair
                    </div>
                    <div class="tab-pane fade" id="master" role="tabpanel" aria-labelledby="master-tab">
                        Master
                    </div>
                    <div class="tab-pane fade" id="practices" role="tabpanel" aria-labelledby="practices-tab">
                        Internship
                    </div>
                </div>
                
            </div> 
            <input type="button" name="previous" class="previous action-button-previous flotarIzquierda" value="Previous" /> 
            <input type="submit" name="make_payment" class="next action-button flotarDerecha" value="Confirm" />
        </fieldset>
        <fieldset>
            <div class="form-card">
                <h2 class="fs-title text-center">Success !</h2> <br><br>
                <div class="row justify-content-center">
                    <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                </div> <br><br>
                <div class="row justify-content-center">
                    <div class="col-7 text-center">
                        <h5>You Have Successfully Signed Up</h5>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

        

    </div>
</main>


<!-- MODAL DE ENVIO VERIFICACIÓN EMAIL -->

<div class="modal fade" id="emailVerification" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">E-mail verification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                            class="ion-ios-close-empty"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="modal-coupon-code">
                    <div class="store-content">
                        <div class="text">
                            Te hemos enviado un e-mail para la verificación de tu perfil.
                        </div>
                    </div>

                </div>
            </div>
            <div class="coupon-bottom">

                <button type="button" class="btn v3 float-right botonGeneral" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- -->

<!--User login section ends-->
<!--Login section ends-->
<!-- Scroll to top starts-->
<span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
<!-- Scroll to top ends-->

<!--Page Wrapper ends-->


<!--Main js-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/register.js' %}"></script>
<!-- Register js -->
<script src="{% static 'js/hiding_atributes.js' %}"></script>
<script src="{% static 'js/prefix.js' %}"></script>
<!--Scripts ends-->

{% endblock %}