{% extends 'index.html' %}

{% block content %}

{%load static%}

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
      <h6 class="display-6 fw-normal">Change my password</h6>   
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


<div class="container">
    <form method="POST">
    {% csrf_token %}

        <div class="row mt-5">
            <div class="col-xl-4 col-12">
                <div class="form-group">
                <label class="label">Current password</label>
                {{form.old_password}}
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="form-group">
                <label class="label" for="exampleInputPassword1">New password</label>
                {{form.new_password1}}
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="form-group">
                <label class="label" for="exampleInputPassword1">Repeat new password</label>
                {{form.new_password2}}
                </div>
            </div>
            {{form.errors}}
        </div>

        <div class="mt-5 mb-5">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
    
{% endblock %}