{% extends 'index.html' %}

{% block content %}

{%load static%}


<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
      <h6 class="display-6 fw-normal">Email password reset</h6>   
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


  <div class="container">

    <form method="POST">
    {% csrf_token %}
        <div class="alert-text">
            Recibirás un email en la direccion proporcionada.
        </div>

        <div class="form-group">
            <label class="label">
                <span class="text">Email:</span>
            </label>
            {{form.email}}
            <span class="form-text text-muted">Asegurate de ser el propietario de esta cuenta.</span>
        </div>

        <button type="submit" class="btn btn-info">Enviar</button>
    </form>

  </div>


</main>




{% endblock %}