{% extends 'index.html' %}

{% block content %}

{%load static%}


<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 mx-auto my-5">
            <h6 class="display-6 fw-normal">Password reset done</h6>   
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

  <div class="container">
        <h3>
            Contraseña para el usuario {{user.username}}
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    La contraseña ha sido actualizada correctamente.
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-2" href="{% url 'Login' %}">Login</button>

    </div>


</main>

{% endblock %}